[submodule "Extra/Image"]
	path = Extra/Image
	url = https://github.com/SugaryScripts/blackhole-sub-images.git
[submodule "Extra/Document"]
	path = Extra/Document
	url = https://github.com/SugaryScripts/blackhole-sub-document.git
# git@github.com
